.blogHead {
    margin-left: 20px;
    
    margin-right: 20px;
}
.blogTitel {
    font-size: x-large;
    margin-bottom: 15px;
    font-weight: 700;
    margin-top: 20px;
}
.blogIntro {
    text-align: justify;
}

.blogArticleImageSetHorizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}
.blogPageImageHorizontal {
    width: 30vw;
    transition: transform 0.5s ease;
}
/* .blogPageImageHorizontal:hover {
    transform: scale(1.1);
} */

.blogArticleImageSetVertical {
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    
}
.blogPageImageVertical {
    height: 60vh;
    width: 100%;
    object-fit: cover;
    margin-top: 20px;
    transition: transform 0.5s ease;
}
/* .blogPageImageVertical:hover {
    transform: scale(1.1);
} */

/* right-side */

.blogIntroRightColumn {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatarSection {
    border-radius: 2%;
    margin: 50px;
    margin-bottom: 20px;
}
.blogIntroRightTitel {
    text-align: center;
    font-size: x-large;
    width: auto;
}
.avatar {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.subTextAvatar {
    text-align: justify;
    margin: 30px;
}



.nextTripsSection {
    margin: 50px;
    border-radius: 2%;
}
.nextTripsTitle {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    margin-top: 10px;
}
.nextTripImages {
    margin: 20px;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    border-radius: 2%;
  
}
.nextTripImage {
    object-fit: cover;
    height: 250px;
    width: 340px;
    margin-bottom: 20px;
    transition: transform 0.5s ease;
}
/* .nextTripImage:hover {
    transform: scale(1.1);
} */

