.blogHead {
    margin-left: 20px;
    margin-top: 10px;
}
.blogTitel {
    font-size: x-large;
}
.blogIntro {
    text-align: justify;
    margin-right: 10px;
}
.blogIntroRightColumn {
    margin-top: 10px;
}
.blogIntroRightTitel {
    text-align: center;
    font-size: x-large;
}
