.collabTitleContainer{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    padding-top: 40px;
    padding-bottom: 40px;
    
  }
  .collabSubtitle{
    text-align: center;
    width: 100%;
    font-size: large;
    color: brown;
}
.collabTitleDivider {
    text-align: center;
    font-size: xx-large;
    
}