.collabContent {
    min-height: 100vh;
}

.collabLeftSideContainer {
    
}
.collabText {
    margin: 100px;
    margin-left: 25vw;
}

/* right side */

.collabRightSideContainer {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    min-width: 34vw;
}
.collabPicture {
    height: 50%;
    width: 100%;
}