.heroImageContainer {
    max-width: 260px;
    min-height: 420px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    object-fit: cover;
  }
  
  .heroImageContainer:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
  